/*
 *= require simple_calendar
 *= require_tree .
 *= require_self
 */

a:link, a:visited, a:active{
 color: white;
}

.text-min7{
  display:block;
  margin-block-start: 0.2em;
  margin-block-end: 0.2em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  transform: scale(0.7);
  transform-origin:1 0;
}

.text-min9{
  display:block;
  margin-block-start: 0.2em;
  margin-block-end: 0.2em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  transform: scale(0.9);
  transform-origin:1 0;
}

@import "bootstrap";